FirstPage{
    max-width: 768px;
    max-height: 959px;
}

body{
    overflow:hidden;
}

#clouds{
    position:absolute;
    left:0px;
}

#logo{
    width:15%;
    position:absolute;
    margin:10px;
    z-index:10;
}

/*NAV BAR*/

li {
    list-style-type: none;

} 

li a {
    display: block;
}

.nav{
    border: none;
    color: #ffffff;
    font-weight:400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    font-family:quicksand;
    font-size:15px;
    z-index:2;
}

body{
    align-content: center;
}

.nav:hover {
    color: lightgray;
}

.signs{
    width:15%;
    height:auto;
    position:absolute;
}

#homeB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:20%;
    top:0;
    background-image: url(svgs/homeSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#infoB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:40%;
    top:0;
    background-image: url(svgs/infoSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#gameB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:60%;
    top:0;
    background-image: url(svgs/gameSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}


#bcB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:80%;
    top:0;
    background-image: url(svgs/bcSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}


input{
    border-radius: 0;
    color: rgb(37, 65, 28);
    display: inline-block;
    font-family: quicksand;
}




#mysubmit{
    position:absolute;
    top:65%;
    left:50px;
    padding:10px;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;
}

#balloon6{
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:block;
    width:500px;
    height:430px;
    padding:20px;
    top:18vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    border-radius:20px;
    z-index:5;
}

#totalPrice{
    width:100px;
    height:20px;

}



.icons{
    width:30px;
    margin:-13px;
    display:inline-block;
    opacity:0;
}

#piggy{
    position:absolute;
    top:70%;
    width:120px;
    z-index:20; 
    left:350px;
    transition:0.3s;
}

#howard{
    cursor: pointer;
    position:absolute;
    width:300px;
    z-index:10;
    left:35vw;
    top:60%;
}


