
#logo{
    width:150px;
    position:absolute;
    margin:10px;
    z-index:10;
}

/*NAV BAR*/

li {
    list-style-type: none;

} 

li a {
    display: block;
}

.nav{
    border: none;
    color: #ffffff;
    font-weight:400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    font-family:quicksand;
    font-size:15px;
    z-index:2;
}



.nav:hover {
    color: lightgray;
}

.signs{
    width:130px;
    height:auto;
    position:absolute;
    z-index:4;
}

#homeB{
    left:23.5%;
    top:11%;
    z-index:20;
}

#sign1{
    left:20.7%;
}

#infoB{
    left:39%;
    top:11%;
    z-index:20;
}

#sign2{
    left:35.4%;
}

#gameB{
    left:53%;
    top:11%;
    z-index:20;
}

#sign3{
    left:50.3%;
}

#bcB{
    left:68%;
    top:10%;
    z-index:20;
}

#sign4{
    left:65.6%;

}

#baloon5{
    cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:360px;
    height:220px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15;
}

#baloonAlert{
    cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:380px;
    height:40px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15;
}

#myreset{
    cursor: pointer;
    position:absolute;
    top:50vh;
    left:50px;
    padding:10px;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;
}


#howard{
    cursor: pointer;
    position:absolute;
    width:300px;
    top:55vh;
    left:35vw;
    margin:auto;
    z-index:15;
}

#clowds{
    position:absolute;
    left:0px;
}

#cursorChange{
    width:50px;
    height: 50px;
    position:fixed;
    z-index:12;
    margin:20px;
    display:none;
    
}

.bins{
    cursor: pointer;
    position:absolute;
    width:80px;
    top:115vh;
    z-index:17;
    padding:20px;
    transition:0.3s;
}

#blackBin{
    left:10vw;
}

#greenBin{
    left:30vw;
}

#yellowBin{
    left:50vw;
}

#blueBin{
    left:70vw;
}

.items{
    cursor: pointer;
    position:absolute;
    top:97vh;
    z-index:14;
    padding:5px;
}

#paper{
    left:20vw;
    width:40px;
}

#bottle{
    left:30vw;
    width:70px;
}

#jam{
    left:50vw;
    width:50px;
}

#banana{
    left:70vw;
    width:50px;
}

#box{
    left:80vw;
    width:90px;
}

#baloonWin{
       cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:400px;
    height:100px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15; 
}


/*rain*/

#wrap{
    position:fixed;
    left:0;
    top:10vh;
    width:100vw;
    height:100vh;
    z-index:13;
}

.candies{
    position:absolute;
    top:-5%;
    transition:top 5s;
    Z-INDEX: 15;
}

#start{
    cursor: pointer;
    position:absolute;
    top:36vh;
    left:50px;
    padding:10px;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;   
}

#stop{
    cursor: pointer;
    position:absolute;
    top:43vh;
    left:50px;
    padding:10px;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;     
}
