FirstPage{
    max-width: 768px;
    max-height: 959px;
}

#logo{
    width:15%;
    position:absolute;
    margin:10px;
    z-index:10;
}

/*NAV BAR*/

li {
    list-style-type: none;

} 

li a {
    display: block;
}

.nav{
    border: none;
    color: #ffffff;
    font-weight:400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    font-family:quicksand;
    font-size:15px;
    z-index:2;
}



.signs{
    width:15%;
    height:auto;
    position:absolute;
}

#homeB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:20%;
    top:0;
    background-image: url(svgs/homeSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#infoB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:40%;
    top:0;
    background-image: url(svgs/infoSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#gameB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:60%;
    top:0;
    background-image: url(svgs/gameSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}


#bcB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:80%;
    top:0;
    background-image: url(svgs/bcSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}

#balloon5{
    cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:360px;
    height:250px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15;
}

#balloonPts{
       cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:400px;
    height:100px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15; 
}

#balloonAlert{
    cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:380px;
    height:40px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15;
}

#balloonVictory{
    cursor: pointer;
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:380px;
    height:150px;
    padding:30px;
    top:20vh;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:15;
    text-align: center;
}

#howard{
    cursor: pointer;
    position:absolute;
    width:300px;
    top:-30%;
    left:35%;
    margin:auto;
    z-index:13;
}

#clouds{
    position:absolute;
    left:0px;
}

#cursorChange{
    width:50px;
    height: 60px;
    position:fixed;
    z-index:14;
    margin:20px;
    display:none;
    
}

.bins{
    cursor: pointer;
    position:fixed;
    width:80px;
    top:80%;
    z-index:17;
    padding:20px;
    transition:0.3s;
}

#blackBin{
    left:10vw;
}

#greenBin{
    left:30vw;
}

#yellowBin{
    left:50vw;
}

#blueBin{
    left:70vw;
}

.items{
    cursor: pointer;
    position:fixed;
    top:-20%;
    z-index:15;
    padding:20px;
}


/*items*/
#paper{
    left:20%;
    width:40px;
    transition-duration: 8s;
    transition-timing-function: linear;
}

#bottle{
    left:30%;
    width:70px;
    transition-duration: 5s;
    transition-timing-function: linear;
}


#banana{
    left:70%;
    width:50px;
    transition-duration: 7s;
    transition-timing-function: linear;
}

#apple{
    left:86%;
    width:40px;
    transition-duration: 10s;
    transition-timing-function: linear;
}

#duckling{
    left:50%;
    width:40px;
    transition-duration: 6s;
    transition-timing-function: linear;
}

#pen{
    left:20%;
    width:40px;
    transition-duration: 6s;
    transition-timing-function: linear;
}

#toothpaste{
    left:60%;
    width:40px;
    transition-duration: 9s;
    transition-timing-function: linear;
}

#box{
    left:80%;
    width:100px;
    transition-duration: 5s;
    transition-timing-function: linear;
}



/*rain*/

#wrap{
    position:absolute;
    left:1%;
    bottom:0;
    width:96vw;
    height:35%;
    z-index:12;
    border: 2px solid transparent;
}

/*
.candies{
    position:absolute;
    top:-5%;
    transition:top 5s;
    z-index: 15;
}
*/

#start{
    cursor: pointer;
    position:absolute;
    top:36vh;
    left:50px;
    padding:20px;
    border-radius:30px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;  
    
}


#myreset{
    cursor: pointer;
    position:absolute;
    top:50vh;
    left:50px;
    padding:20px;
    border-radius:30px;
    cursor: pointer;
    font-family:quicksand;
    font-size:12px;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:16;
}

