FirstPage{
    max-width: 768px;
    max-height: 959px;
}



#logo{
    width:150px;
    position:absolute;
    margin:10px;
    z-index:10;
}

/*NAV BAR*/

li {
    list-style-type: none;

} 

li a {
    display: block;
}

.nav{
    border: none;
    color: #ffffff;
    font-weight:400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    font-family:quicksand;
    font-size:15px;
    z-index:2;
}


.nav:hover {
    color: lightgray;
}

.signs{
    width:130px;
    height:auto;
    position:absolute;
    z-index:4;
}

#homeB{
    left:23.5%;
    top:7.5%;
    z-index:20;
}

#sign1{
    left:20.7%;
}

#infoB{
    left:39%;
    top:7.5%;
    z-index:20;
}

#sign2{
    left:35.4%;
}

#gameB{
    left:53%;
    top:7.5%;
    z-index:20;
}

#sign3{
    left:50.3%;
}

#bcB{
    left:68%;
    top:7%;
    z-index:20;
}

#sign4{
    left:65.6%;

}


#balloon{
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:300px;
    height:150px;
    padding:40px;
    top:-20vh;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:2;
}

#balloon2{
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:300px;
    height:40px;
    padding:50px;
    top:-20vh;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.7);
    z-index:2;
}

.ground{
    width:100vw;
    height:50vh;
    position:absolute;
}

#howard{
    cursor: pointer;
    position:absolute;
    width:400px;
    height:auto;
    z-index:10;
    top:55vh;
    left:0px;
    right:0px;
    margin:auto;  
}

#howardPoked{
    cursor: pointer;
    position:absolute;
    width:550px;
    height:auto;
    z-index:10;
    top:50vh;
    left:0px;
    right:0px;
    margin:auto; 
    display:none;
}

#clouds{
    position:absolute;
    left:0px;
}
