FirstPage{
    max-width: 768px;
    max-height: 959px;
}

#clouds{
    position:absolute;
    left:0px;
}

#logo{
    width:15%;
    position:absolute;
    margin:10px;
    z-index:10;
}

/*NAV BAR*/

li {
    list-style-type: none;

} 

li a {
    display: block;
}

.nav{
    border: none;
    color: #ffffff;
    font-weight:400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    font-family:quicksand;
    font-size:15px;
    z-index:2;
}


.signs{
    width:15%;
    height:auto;
    position:absolute;
}

#homeB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:20%;
    top:0;
    background-image: url(svgs/homeSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#infoB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:40%;
    top:0;
    background-image: url(svgs/infoSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}



#gameB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:60%;
    top:0;
    background-image: url(svgs/gameSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}


#bcB{
    width:10%;
    height:12%;
    position:absolute;
    z-index:15;
    left:80%;
    top:0;
    background-image: url(svgs/bcSign.svg);
    background-repeat: no-repeat;
    background-size:auto;
}


/*balloons*/

#balloon{
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:300px;
    height:150px;
    padding:40px;
    top:-20vh;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    z-index:2;
    text-align: center;
}

#balloon2, #balloon3, #balloon4, #balloonVictory{
    border-radius:20px;
    cursor: pointer;
    font-family:quicksand;
    font-size:15px;
    position:absolute;
    display:none;
    width:300px;
    height:120px;
    padding:50px;
    top:-20vh;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.7);
    z-index:2;
    text-align: center;
}

#howard{
    cursor: pointer;
    position:absolute;
    width:400px;
    height:auto;
    z-index:10;
    top:55vh;
    left:0px;
    right:0px;
    margin:auto;  
}

#howardPoked{
    cursor: pointer;
    position:absolute;
    display:none;
    width:550px;
    height:auto;
    z-index:10;
    top:50vh;
    left:0px;
    right:0px;
    margin:auto; 
    display:none;
}

#howardOpenArms{
    cursor: pointer;
    position:absolute;
    display:none;
    width:900px;
    height:auto;
    z-index:10;
    top:55vh;
    left:0px;
    right:0px;
    margin:auto;  
}

/* items */

.items {
    position:absolute;
    z-index:15;
}

#paper{
    top:88%;
    width:60px;
    left:10%; 
}

#box{
    top:90%;
    width:150px;
   left:20%;
}

#banana{
    top:90%;
    width:70px;
    left:35%; 
}

#bottle{
    top:90%;
    width:90px;
    left:50%; 
}

#apple{
    top:90%;
    width:60px;
    left:60%; 
}

#duckling{
    top:90%;
    width:90px;
    left:70%; 
}

#pen{
    top:90%;
    width:80px;
    left:80%; 
}

#toothpaste{
    top:89%;
    width:90px;
    left:15%; 
}


